.root {
  background: #F85656 !important;
  color: #fff !important;
  border: none !important;

  font-family: 'Nunito' !important;
  font-style: normal !important;;
  font-weight: 700 !important;;
  font-size: 16px !important;;
  line-height: 22px !important;;

  letter-spacing: 0.02em !important;
  border-radius: 15px !important;
  width: 145px;
  height: 42px;
}
